extends ../layout

block content

    a(href='/bicicletas') Volver
    br
    br
    h1 Actualizar Bicicleta
    br
    br
    form(action=`/bicicletas/${bici.code}/update` method='POST')
        label(for='code') CODE:
        input#id(type='text' name="code" value=bici.code )
        br
        label(for='color') COLOR:
        input#color(type='text' name="color"  value=bici.color )
        br
        label(for='modelo') MODELO:
        input#modelo(type='text' name="modelo"  value=bici.modelo )
        br
        label(for='lat') LATITUD:
        input#lat(type='text' name="lat"  value=bici.ubicacion[0] )
        br
        label(for='lon') LONGITUD:
        input#lon(type='text' name="lon" value=bici.ubicacion[1] )
        br
        br
        input.btn(type='submit' value='ok')